#titleBar {
    display: flex;
    justify-content: space-between;
}

#board {
    display: flex;
    justify-content: center;
}

#board > div {
    max-width: 95vw;
}

#grid {
    display: grid;
    grid-template-columns: 310px;
    grid-auto-flow: column;
    overflow-x: auto;
}

.section-containers {
    width: 300px;
    margin: 5px;
}

#saveButton {
    position: absolute;
    right: 35px;
    top: 20px;
}

.centerSelf {
    align-self: center;
}

@media screen and (max-width: 320px) {
    #grid {
        grid-template-columns: calc(96vw + 10px)
    }

    .section-containers {
        width: 96vw;
    }
}