#section {
    background-color: #E8E8E8;
    border-radius: 4px;
    overflow: hidden;
}

#section > div {
    overflow-y: auto;
    height: 75vh;
    margin: 10px;
}

#infoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}